@import "tailwindcss";

@theme{
  --color-primary: #32B39C;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-shine {
  animation: shine 3s linear infinite;
}